:root {
    /*Defina as variaveis aqui para as cores padrões (WHITE MODE) para a página*/
    --background-color: #1f1f1f;
    --button-color: black;
    --button-txt-color: white;
    --hintTextColor: transparent;
}

#modoEscuro {
    background-color: var(--button-color);
    color: var(--button-txt-color);
}

body {
    background-color: var(--background-color);
}

main, div.side {
    background-color: rgba(255, 255, 255, 0.47);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    height: 40vw;
}

main {
    margin-left: 30px;
    width: 70%;
}

div.side {
    margin-right: 30px;
    width: 22%;
    justify-content: start;
    display: flex;
    flex-direction: column;
}


div.mainBase {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

div.bottomScreen {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.47);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    height: 40vw;
}

div.head {
    height: 15vw;
    position: relative;
}

div.leftInfo {
    margin-left: 1px;
    width: 50%;
    height: 100%;

}

div.rightInfo {
    margin-left: 10px;
    width: 50%;
    height: 100%;


}

div.bottomPart {
    display: flex;
    flex-direction: row;
}

img.banner {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
}

img.pfp {
    width: 15%;
    border-radius: 10000px;
    z-index: 10;
    position: absolute;
    margin: auto auto auto auto;
    margin-top: 3%;
    margin-left: 2%;
}


h1, h2 {
    text-decoration: none;
    margin: 15px;
    color: white;
    font-size: 1.05rem;
    font-weight: bold;
}



h2.estatisticas {
    font-family: 'Courier New', monospace;
}

.estatisticas {
    text-align: center;
}

h1 {
    font-size: 1.6rem;
}

/**/

div.redesSociais {
    display: flex;
    flex-direction: row;
    flex: auto;
    align-self: center;
}

/**/

.twitter, .github, .youtube {


    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;

    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;


}

.svgIcon {
    width: 25px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}