:root {
    /*Defina as variaveis aqui para as cores padrões (WHITE MODE) para a página*/
    --background-color: #1f1f1f;
    --button-color: black;
    --button-txt-color: white;
    --hintTextColor: transparent;
}

body {
    background-color: var(--background-color);

}

h1 {
    color: white;
    margin: 1vw;
    text-align: center;
}

div.selection-box {
    color: white;
    background-color: #636060;
    padding: 10px;
    width: 97%;
    height: 60vh;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    margin-top: 2%;
    overflow: auto;
}

div.bottomButtons {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

button.category {
    width: 15%;
    margin-left: 15px;
    margin-top: 15px;
}