:root {
    --background-color: #1f1f1f;
}


body {
    background-color: var(--background-color);
}

input#img {
    width: 380px;
    height: 120px;
}




input[type="file"] {
    display: none;
}

label {
    padding: 20px 10px;
    width: 200px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-left: 20%;
    cursor: pointer;
}

#description, #img {
    border-radius: 15px;

}

::-webkit-scrollbar {
    width: 20px;
}


textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: rgb(60, 133, 0);
    border-radius: 10px;
}


textarea::-webkit-scrollbar-thumb:hover {
    background: rgb(45, 100, 0);

}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px rgb(0, 0, 0);
    margin: 0px 0px 0px 0px
}

input, textarea {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0);
    background-color: var(--background-color);
    border-radius: 9999px;
    padding: 10px;
    padding-left: 15px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5), 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: auto;
    word-wrap: break-word;
    margin-top: 15px;
}




img.pfp {

    width: 13vw;
    height: 13vw;
    margin: auto;
    display: block;
    border-radius: 100%;
    aspect-ratio: 1/1;

}

div.centralBox {

    border-radius: 25px;
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 80vw;
    margin: 1% auto auto auto;
    padding: 5%;
    box-shadow: 2px 5px 10px rgb(5, 5, 5), 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

main.leftInfo {
    height: 70vh;
    width: 27vw;


}

aside.rightInfo {
    height: 70vh;
    margin-left: 2.5%;

}



.dropdown {
    max-width: 13em;
    margin-top: 15px;

    position: relative;
    width: 100%;
}

.dropdown-btn {
    background: #414244;
    font-size: 18px;
    width: 100%;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
}

.dropdown-content {
    list-style: none;
    position: absolute;
    top: 3.2em;
    width: 100%;
    visibility: hidden;
    transform: translateY(-1em);
    transition: transform ease 0.3s;
}

input[type="checkbox"]:checked~.dropdown-content {
    visibility: visible;
    transform: translateY(0);
    text-align: center;

}

.dropdown-content li {
    background: #2f3238;
    border-radius: 0.5em;
    margin: 1px;
    width: 150px;

}

input[type="checkbox"]:checked+label>.arrow {
    transform: rotate(180deg);
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"]:focus+label {
    box-shadow: 0 0 20px rgb(83, 83, 83);
}

.dropdown-content li:hover {
    background: #1d1f24;
}

.dropdown-content li a {
    display: block;
    padding: 0.7em 0.5em;
    color: #fff;
    margin: 0.1em 0;
    text-decoration: none;
}

div.bottomButtons {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

button.category {
    width: 15%;
    margin-left: 15px;
    margin-top: 15px;
}