ul.category {
    list-style-type: none;
    margin-left: 1vw;
    margin-right: 5vw;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}


li {
    display: inline-block;
    position: relative;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 2vh;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    transition: all 0.2s ease-out;
    cursor: pointer;
}


li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-out;
}

li:hover::before {
    transform: scaleX(1);
}

.title {
    font-size: smaller;
    color: white;
    margin-left: 0;
    margin-right: 0.5vw;

}

h1 {
    position: absolute;
    top: 0;
    margin-left: -50%;
    size: 10%;
}

.row {
    display: flex;
    flex-direction: row;
}

div.cardbox {
    position: relative;
    width: 20vw;
    height: 50vh;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10vh auto auto auto;
    border-radius: 5%;
    box-shadow: -20px -20px rgb(0, 0, 0);
    animation: boxShadowAnimation 0.375s forwards;
}
div.cardbox:hover {
    width: 25vw;
    height: 70vh;
    animation: cardBoxExpand 0.2s linear;
}
div.cardbox:not(hover) {
    animation: cardBoxUnexpand 0.2s linear;
}
@keyframes cardBoxExpand {
    from {
        width: 20vw;
        height: 50vh;
    }

    to {
        width: 25vw;
        height: 70vh;
    }
}
@keyframes cardBoxUnexpand {
    from {

        width: 25vw;
        height: 70vh;
    }

    to {
        width: 20vw;
        height: 50vh;
    }
}