ul.category {
    list-style-type: none;
    margin-left: 1vw;
    margin-right: 5vw;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 10px;
    box-shadow: 0 0 0.1vw 0.3vw #1f0170, 0 0 0.4vw 0.5vw #01057d, 0 0 1vw 0.3vw #1101fb;
    background-color: rgb(32, 32, 32);
}


li {
    display: flex;
    justify-content: center;
    margin: auto 0 auto;
    position: relative;
    height: fit-content;
    padding-bottom: 5px;
}

li a {
    color: white;
    padding: auto auto;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    transition: all 0.2s ease-out;
    cursor: pointer;
}


li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-out;
}

li:hover::before {
    transform: scaleX(1);
}

p.title {
    color: white;
    margin-left: 0;
    margin-right: 0.5vw;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
}