:root {
    /*Defina as variaveis aqui para as cores padrões (WHITE MODE) para a página*/
    --background-color: green;
    --header-background-color: rgb(0, 190, 0);
    --button-color: black;
    --button-txt-color: white;
    --hintTextColor: transparent;
}



#modoEscuro {
    background-color: var(--button-color);
    color: var(--button-txt-color);
}


body {
    background-color: var(--background-color);
}

h1.title {
    color: white;

}

h2.menuBoxTitle {
    color: white;
    padding-bottom: 1vw;
    box-shadow: 0px 3px rgb(0, 0, 0);
    margin-bottom: 5px;
}

h2.category {
    margin-bottom: 5vh;
    color: white;
    padding-bottom: 1vw;
    box-shadow: 0px 3px rgb(0, 0, 0);
}



h2.areadoclientehref {
    cursor: pointer;
}

p#avaliacao {
    cursor: pointer;
    display: block;
}

button.category {
    margin-top: 1vh;
    border-radius: 20%;
    background-color: rgba(187, 255, 0, 0.701);
    font-size: 1rem;
    width: 10vw;
    margin: 1vw auto 0 auto;
}

button.category:hover {
    width: 11vw;
    height: 2vw;
}



div.column {
    display: flex;
    flex-direction: column;
}

div.categoryBox {
    width: 15%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.47);
    border-color: black;
    border-style: solid;
    border-width: 15 px;
    /* topo | direita | inferior | esquerda */
    margin: auto 2vw auto auto;

}

div.menuBox {
    width: 70%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.47);
    border-color: black;
    border-style: solid;
    border-width: 15 px;
    display: flex;
    margin: auto auto auto auto;
}

div.menuBoxInside {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px 1px 1px 0px;

    overflow: auto;
    flex-wrap: wrap;
}

div.menuBoxInside::-webkit-scrollbar {
    width: 8px;

}

div.menuBoxInside::-webkit-scrollbar-track {
    background: transparent;
}

div.menuBoxInside::-webkit-scrollbar-thumb {
    background: rgb(0, 219, 0);
    border: 0.1px solid black;
    border-radius: 5px;
}

div.menuBoxInside::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.profileBox {
    position: relative;
    width: 20vw;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 1vw auto 2vw;
    border-radius: 5%;
    box-shadow: 20px 20px 3px 1px rgb(0, 0, 0);
    animation: boxShadowAnimation 0.375s forwards;
}

div.menuBoxCard {
    background-color: white;
    box-shadow: -3px 3px 3px 1px rgb(0, 0, 0);
    border-radius: 2%;
    margin: 5px;
    width: 98%;
    height: 25%;
}

div.menuBoxInfo {
    margin: auto 0 auto 0;
}

p.menuBoxInfo {
    margin: auto 50px auto 0;
}

a.areadoclientehref {
    color: black;
}

img.icon {
    width: 13vw;
    position: inherit;
    right: 10%;
    top: auto;
    border-radius: 100%;
}

button.atualizarCards {
    align-items: center;
    background: #000020;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    display: flex;
    font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1rem;
    justify-content: center;
    line-height: 1.5rem;
    padding: 15px;
    position: relative;
    text-align: left;
    white-space: pre;
    width: max-content;
    margin: auto auto auto auto;
}

.button-67:hover {
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
    .button-67 {
        padding: 24px;
    }
}


/* Parent background */
#F5F5FA img.menuBoxIcon {
    border-radius: 100%;
    margin-right: 20px;
    margin-left: 15px;
}

h1.perfil {
    font-size: 200%;
}

p.info {
    font-size: 0.7em;
    text-overflow: clip;
}


.spacer {
    flex: 1;
}



.center {
    text-align: center;
}

.justify {
    justify-content: center;
}

.txtShadow {
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

@keyframes boxShadowAnimation {
    0% {
        box-shadow: 0px 0px;
    }

    70% {
        box-shadow: 25px 25px;
    }

    100% {
        box-shadow: 10px 10px;
    }
}