:root {
    /*Defina as variaveis aqui para as cores padrões (WHITE MODE) para a página*/
    --background-color: #1f1f1f;
    --button-color: black;
    --button-txt-color: white;
    --hintTextColor: transparent;
}



#modoEscuro {
    background-color: var(--button-color);
    color: var(--button-txt-color);
}


body {
    background-color: var(--background-color);
}

h1.title {
    color: white;
}

h2.menuBoxTitle {
    color: white;
    padding-bottom: 1vw;
    box-shadow: 0px 3px rgb(0, 0, 0);
    margin-bottom: 5px;
}

h2.category {
    margin-bottom: 0.8em;
    color: white;
    padding-bottom: 0.5em;
    box-shadow: 0px 3px rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
}



h2.areadoclientehref {
    cursor: pointer;
}

h2.clientName {
    margin: 0px 0px 0px 0px;
}

p#avaliacao {
    cursor: pointer;
    display: block;
}

/* button.category {
    margin-top: 1vh;
    border-radius: 20%;
    background-color: rgba(187, 255, 0, 0.701);
    font-size: 1rem;
    width: 10vw;
    margin: 1vw auto 0 auto;
}

button.category:hover {
    width: 11vw;
    height: 2vw;
} */



div.column {
    display: flex;
    flex-direction: column;
}

div.categoryBox {
    width: 15%;
    /*height: 70vh;*/
    background-color: rgba(255, 255, 255, 0.47);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 15 px;
    /* topo | direita | inferior | esquerda */
    margin: auto auto auto 2%;

}

div.menuBox {
    width: 70%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.47);
    border-color: black;
    border-style: solid;
    border-width: 15 px;
    display: flex;
    margin: auto auto auto auto;
}

div.menuBoxInside {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px 1px 1px 0px;
    overflow: auto;
    flex-wrap: wrap;
}

div.menuBoxInside::-webkit-scrollbar {
    width: 8px;

}

div.menuBoxInside::-webkit-scrollbar-track {
    background: transparent;
}

div.menuBoxInside::-webkit-scrollbar-thumb {
    background: rgb(0, 219, 0);
    border: 0.1px solid black;
    border-radius: 5px;
}

div.menuBoxInside::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.profileBox {
    position: relative;
    width: 20vw;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;

    text-align: center;
    margin: auto 1vw auto 2vw;
    border-radius: 25px;
    box-shadow: 20px 20px 3px 1px rgb(0, 0, 0);
    animation: boxShadowAnimation 0.375s forwards;
}

div.menuBoxCard {
    background-color: white;
    box-shadow: -3px 3px 3px 1px rgb(0, 0, 0);
    border-radius: 2%;
    margin: 5px;
    width: 98%;
    height: 25%;
}





a.areadoclientehref {
    color: black;
}

img.icon {
    width: 13vw;
    position: relative;
    top: auto;
    margin: auto auto auto;
    border-radius: 100%;
}

button.atualizarCards {
    align-items: center;
    background: #000020;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1rem;
    justify-content: center;
    line-height: 1.5rem;
    padding: 15px;
    position: relative;
    text-align: left;
    margin: auto;
    width: max-content;

}

.atualizarCards:hover {
    background: #020281;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
    .atualizarCards {
        padding: 24px;
    }
}



h1.perfil {
    text-align: center;
    font-size: 200%;
    margin-bottom: 10px;
    margin-top: 20px;
}

p.info {
    font-size: 1em;
    text-align: center;
    text-overflow: clip;
    margin-bottom: 2px;
}


.spacer {
    flex: 1;
}

.center {
    text-align: center;
}

.justify {
    justify-content: center;
}

.txtShadow {
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

@keyframes boxShadowAnimation {
    0% {
        box-shadow: 0px 0px;
    }

    70% {
        box-shadow: 25px 25px;
    }

    100% {
        box-shadow: 10px 10px;
    }
}


/* TESTE DE BOTÃO */



.flip-card {
    background-color: transparent;
    width: 100%;
    height: 25%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    font-family: sans-serif;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    -webkit-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    width: 99.5%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
    cursor: pointer;
}

.flip-card-front {
    background: linear-gradient(120deg, rgb(84, 203, 33) 60%, rgb(24, 143, 0) 88%,
            rgb(12, 72, 2) 40%, rgb(18, 122, 0) 48%);
    color: rgb(255, 255, 255);
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
            bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

}

img.menuBoxIcon {
    border-radius: 100%;
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 1px;
    margin-bottom: 3px;
}

div.menuBoxInfo {
    margin: auto 0 auto 0;
}

p.menuBoxInfo {
    /* topo | direita | inferior | esquerda */
    font-size: 1em;
    text-align: center;
    text-overflow: clip;
    margin-bottom: 5px;
}

.navbar {
    display: none;
}
.navbar-toggler {
    display: none;
}
.navbar-brand {
    display: none;
}
/*MEDIA SCREENS*/

@media screen and (max-width:1020px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    div.categoryBox {
        width: 96%;
        margin-bottom: 5px;
    
    }
    div.column {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
    }
    h2.category {
        margin-bottom: 0em;
    }
}

@media screen and (max-width:980px) {
    
    h2.category {
        position: relative;
        left: 5px;
    }
    
    .navbar {
        display: block;
        position: relative;
        width: 100%;
        height: 50px;
    }
    .navbar-toggler {
        display: block;
        position: absolute;
        top: 60%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 9999;
    }
    .navbar-menu {
       z-index: 9999;
    }
    .navbar-nav {
        align-items: center;
    }
}
@media screen and (max-width:570px) {
    .navbar-nav {
        align-items: start;
    }
}