:root {
    --background-color: #1f1f1f;
}


body {
    background-color: var(--background-color);
}


h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px rgb(0, 0, 0);
    margin: 0px 0px 0px 0px
}

h2 {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0);
    border-radius: 9999px;
    border-spacing: 50px;
    padding: 10px;
    padding-left: 15px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5), 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: auto;
    word-wrap: break-word;
}

h2#removePointer {
    user-select: none;
    box-shadow: 2px 5px 10px rgb(5, 5, 5), 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

h2#bio {
    border-radius: 0;
}

img.pfp {

    width: 13vw;
    height: 13vw;
    margin: auto;
    display: block;
    border-radius: 100%;
    aspect-ratio: 1/1;

}

div.centralBox {

    border-radius: 25px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 80%;
    margin: 1% auto auto auto;
    padding: 5%;
    box-shadow: 2px 5px 10px rgb(5, 5, 5), 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

main.leftInfo {
    height: auto;
    width: 32%;
    margin-right: 2.5%;
}

aside.rightInfo {
    height: auto;
    margin-left: 2.5%;
    width: 38%;
}

aside.rightInfo-center {
    height: auto;
    width: 20%;
}








/**/

.twitter, .github, .youtube {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}




.twitter:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(14, 167, 255);
    align-items: center;
}

.twitter:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.twitter::before {
    position: absolute;
    top: -20px;
    content: "Twitter";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.twitter:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}



/**/




.github:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: #333;
    align-items: center;
}

.github:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.github::before {
    position: absolute;
    top: -20px;
    content: "Github";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.github:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}




/**/


.youtube:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: red;
    align-items: center;
}

.youtube:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.youtube::before {
    position: absolute;
    top: -20px;
    content: "YouTube";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.youtube:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

@media screen and (max-width:980px) {
    div.centralBox {
        align-items: center;
        flex-direction: column;
    }
    main.leftInfo {
        order: 3;
        width: 90%;
    }
    main.leftInfo h2 {
        text-align: center;
    }
    aside.rightInfo {
        order: 1;
        width: 70%;
    }
    .redesSociais {
        display: flex;
        justify-content: space-around;
    }
    aside.rightInfo h2 {
        text-align: center;
    }
    aside.rightInfo-center {
        order: 2;
        width: 70%;
    }
 
}