:root {
    --clientInfo: none;
    --vendedorInfo: none;
    /*Defina as variaveis aqui para as cores padrões (WHITE MODE) para a página*/
    --background-color: #1f1f1f;
    --button-color: black;
    --button-txt-color: white;
    --hintTextColor: transparent;

}

body {
    background-color: var(--background-color);
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

p.clientInfo {
    display: var(--clientInfo);

}

p.vendedorInfo {
    display: var(--vendedorInfo);
}

div.cardbox {
    position: relative;
    width: 260px;
    height: 260px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% auto 1% auto;
      border-radius: 25px;
    box-shadow: -20px 20px rgb(0, 0, 0);
    animation: boxShadowAnimation 0.375s forwards;
}



h1.topTitle {
    color: white;
    text-align: center;
}

a.continuar {

   font-weight: bold;
   font-size: 2rem;
}

div.cardbox:hover {
    width: 310px;
    height: 310px;
    animation: cardBoxExpand 0.2s linear;
}

div.vendedorCardBox:hover {
    --vendedorInfo: display;
}

div.clientCardBox:hover {
    --clientInfo: display;
}

div.cardbox:not(hover) {
    animation: cardBoxUnexpand 0.2s linear;
}

img.money {
    position: relative;
    width: 40%;
    height: 30%;
}

div.vendedorCardBox {
    box-shadow: 20px 20px rgb(0, 0, 0);
}

@keyframes cardBoxExpand {
    from {
        width: 260px;
        height: 260px;
    }

    to {
        width: 310px;
        height: 310px;
    }
}

@keyframes cardBoxUnexpand {
    from {

        width: 310px;
        height: 310px;
    }

    to {
        width: 260px;
        height: 260px;
    }
}

@media screen and (max-width:700px) {
    .row {
        flex-direction: column;
    }
    div.cardbox {
        margin: 15px auto;
    }
    div.vendedorCardBox {
        box-shadow: -20px 20px rgb(0, 0, 0);
    }
}