:root {
    /*Defina as variaveis aqui para as cores padrões (WHITE MODE) para a página*/
    --background-color: #1f1f1f;
    --button-color: black;
    --button-txt-color: white;
    --hintTextColor: transparent;
}

#modoEscuro {
    background-color: var(--button-color);
    color: var(--button-txt-color);
}

body {
    background-color: var(--background-color);
}
.old-h1 {
    color: white;
    text-align: center;
}
/* 
    Informações sobre e Foto
*/
.about{
    display: flex;
    margin: 5% 2%;
}
.about-text{
    width: 100px;
}
h1.pagTitle {
    margin: 3% 0;
    font-size: 300%;
    color: white;
    text-align: center;
}
.left-text h1 {
    display: block;
    margin: 0 auto;
}
.about p{
    font-size: 15px;
}
.left-text{
    color: white;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}
.right-text p {
    margin: 1% auto;
    font-size: x-small;
    text-align: center;
    width: 55%;
}
.right-text{
    text-align: center;
    color: white;
    width: 50%;
    flex-wrap: wrap;
}
.imgInfo {
    display: inline-flex;
    color: white;
}
img.all {
    width: 70%;
    padding: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: -10px 10px rgb(0, 0, 0);
    border-radius: 25px;
}
/* 
    Imagens de membros
*/
.member-line{
    width: 90%;
}
.membros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.member-info{
    
    display: flex;
    height: 100%;    
}
.aboutMember{
    width: 15%;
    margin: auto;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
}
p.membros-texto {
    color: white;
    display: flex;
    justify-content: center;
}
img.member {
    width: 10%;
    margin: 3%;
    border-radius: 50%;
}

p.inv {
    color: transparent;
}