:root {
    /*Defina as variaveis aqui para as cores padrões (WHITE MODE) para a página*/
    --background-color: green;
    --button-color: black;
    --button-txt-color: white;
}

#modoEscuro {
    background-color: var(--button-color);
    color: var(--button-txt-color);
}

body {
    background-color: var(--background-color);
}