:root {
    /*Defina as variaveis aqui para as cores padrões (WHITE MODE) para a página*/
    --background-color: #1f1f1f;
    --button-color: black;
    --button-txt-color: white;
    --hintTextColor: transparent;
}
#modoEscuro {
    background-color: var(--button-color);
    color: var(--button-txt-color);
}

body {
    background-color: var(--background-color);
}

div.cardbox {
    width: 20vw;
    height: 60vh;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10vh auto auto auto;
      border-radius: 25px;
    box-shadow: -20px 20px rgb(0, 0, 0);
    animation: boxShadowAnimation 0.375s forwards;
}

div.loginButton {
    background-color: white;
    border: 5px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

img.icon {
    width: 20vw;
    position: inherit;
    top: auto;
}

p:not(p.title), a {
    color: rgb(0, 0, 0);

    text-align: center;
}

p:not(p.title) {
    font-size: 5vb;
}

@keyframes boxShadowAnimation {
    0% {
        box-shadow: 0px 0px;
    }

    70% {
        box-shadow: -25px 25px;
    }

    100% {
        box-shadow: -20px 20px;
    }
}

.column {
    position: absolute;
    top: 15vh;
    left: 1vw;
}
a.tempo {
    color: white;
    cursor: pointer;
}