footer {
    background-color: #105004;
    position: fixed;
    bottom: 0;
    left: 1;
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
}

#logo-baixo {
    width: 9.5%;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;

    height: 100%;
    background-image: linear-gradient(to bottom, #105004, #10a335);
    background-attachment: fixed;
}

.glowbutton {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #e0e0e0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    justify-content: right;
    line-height: 12px;
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 0;

}

.glowbutton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowbutton:active {
    color: #000
}

.glowbutton:active:after {
    background: transparent;
}

.glowbutton:hover:before {
    opacity: 1;
}

.glowbutton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.title {
    position: relative;
    color: #262626;
    padding: 20px 50px;
    font-size: larger;
}

.disclaimer {
    position: absolute;
    right: 0;
    margin-right: 10px;

}

.title:before {
    background: #262626;
    color: white;
    content: 'Grupo 1';
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 50px;
    -webkit-clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    animation: slide 4s 1s linear infinite;
}

p {
    color: white;
}

@keyframes slide {
    50% {
        -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%);
    }
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 23px 26px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    font-size: 25px;
    padding: 13px 26px;
}

.topnav a.active {
    font-size: 17px;
    padding: 23px 26px;
    background-color: #04AA6D;
    color: white;
}

@media (max-width: 500px) {
    .topnav a {
        font-size: 10px;
    }

    .topnav a.active {
        font-size: 10px;
    }

    .glowbutton {
        margin-top: 50%;
    }

    #logo-baixo {
        width: 50%;
    }

    .disclaimer {
        font-size: smaller;
    }
}